@font-face {
    font-family: 'Vazir';
    src: url("../assets/fonts/vazir/Vazir.woff2");
    font-weight: 400;
}


@font-face {
    font-family: 'Vazir';
    src: url("../assets/fonts/vazir/Vazir-Medium.woff2");
    font-weight: 500;
}

@font-face {
    font-family: 'Vazir';
    src: url("../assets/fonts/vazir/Vazir-Bold.woff2");
    font-weight: 700;
}



.font{
    font-family: 'Vazir';
}