/* .header{
    background-color: rgb(204, 242, 217);
} */

.home_search_box{
    margin-top: -32px;
    margin-left: 80px;
}

.home_user_icon{
    margin-top: -27px;
    margin-left: 35px;
}

.home_bag_icon{
    margin-top: -26px;

}